* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #292929;
}
a:focus {
    text-decoration: none;
    color: #292929;
}
.wrapper {
    background: #FFFFFF;
    max-width: 1280px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 40px;
}
.logo_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #545454;
}
.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
}
.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;

    align-items: center;
}
ul {
    list-style-type: none;
}
.navbar_text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    height: 24px;
    margin-right: 35px;
}
.navbar_text_last {
    margin-right: 0px;
}
.navbar_active {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

    /* Main */
.wrapper_main {
    max-width: 1280px;
    background: #F6F6F6;
    text-align: center;
}
.main_pets_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #545454;
    padding-top: 80px;
    margin-bottom: 60px;
}
.pets_slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    padding: 0 40px;
}
.card {
    /* width: 270px;
    height: 435px;
    text-align: center;
    justify-self: center; */
    background: #FAFAFA;
    border-radius: 9px;
    transition: 300ms;
    overflow: hidden;
}
.card_img {
    width: 100%;
}
.card:hover {
    background: white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card:hover .btn_slider{
    background: #FDDCC4;
    transition: 500ms;
}
.pets-card-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.btn_slider {
    width: 70%;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background: white;
    margin-bottom: 30px;
}
.btn_slider:hover {
    background: #FDDCC4;
}
.slider_btns {
    display: flex;
    max-width: 340px;
    padding: 0 10px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 100px;
}
.btn_previous {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}
.btn_previous:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.btn_notActive {
    cursor: default;
    border: 2px solid #CDCDCD;
}
.btn_notActive:hover {
    cursor: default;
    border: 2px solid #CDCDCD;
    background: none;
}
.btn_number {
    cursor: default;
    background: #FDDCC4;
}
.btn_previous p {
    margin: 0;
}
   /* Footer */
   .wrapper_footer {
    max-width: 1280px;
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
   }
.footer_content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 40px;
    padding-top: 40px;
}
.footer_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.footer_paragraph {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 40px;
}
.address_container {
    display: flex;
}
.footer_img {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.footer_adress {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 18px;
}

@media (max-width: 767px) {
    header {
        padding: 0px 30px;
        padding-top: 14px;
    }
    .main_pets_head {
        margin-bottom: 25px;
    }
    .pets_slider {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-auto-rows: 0;
        row-gap: 0;
        padding: 0 93px;
    }

    .slider_btns {
        margin-top: 40px;
        padding-bottom: 75px;
    }

    .footer_content {
       flex-wrap: wrap;
       padding: 0 66px;
       padding-top: 11px;
    }
    .footer_puppy {
        margin: 0 auto;
        padding-top: 25px;
    }

}

@media (max-width: 319px) {
    header {
        padding: 0;
        position: fixed;
        justify-content: unset;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
      }
      header::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: #FFFFFF;
      }
      .logo_title {
        position: relative;
        z-index: 2;
        margin: 30px 38px 10px 10px;
        font-size: 32px;
    }
    .logo_subtitle {
      position: relative;
      z-index: 2;
      font-size: 13px;
      padding-left: 14px;
      margin-bottom: 30px;
    }
    .header_burger {
        display: block;
        position: relative;
        z-index: 3;
        width: 30px;
        height: 22px;
      }
      .header_burger::before,
      .header_burger::after {
        content: "";
        height: 2px;
        background-color: #000000;
        position: absolute;
        width: 100%;
        left: 0;
    }
      .header_burger::before {
        top: 0;
        transition: .3s;
    }
      .header_burger::after {
        bottom: 0;
        transition: .3s;
    }
      .header_burger span {
        height: 2px;
        background-color: #000000;
        position: absolute;
        width: 100%;
        left: 0;
        top: 10px;
        transition: .3s;
    }
      .navbar {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        padding-top: 263px;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        transition: .3s;
      }
      .navbar li {
          margin-bottom: 64px;
    }
      .navbar_text {
          font-size: 32px;
          margin-left: 0px;
    }
      .active_burger {
        left: 0;
        transition: .3s;
    }
      .active_burger_burger span {
        transform: rotate(90deg);
        top: 20px;
        left: -9px;
        transition: .3s;
      }
      .active_burger_burger::before {
        transform: rotate(90deg);
        left: -19px;
        top: 20px;
        transition: .3s;
      }
      .active_burger_burger::after {
        transform: rotate(90deg);
        left: 1px;
        top: 20px;
        transition: .3s;
      }
       .lock {
           overflow: hidden;
       }

    .main_pets_head {
        font-size: 25px;
        line-height: 37px;
        margin-top: 77px;
        margin-bottom: 30px;
    }
    .card {
        padding-bottom: 20px;
    }
    .card_img {
        width: 87%;
    }
      .btn_slider {
          width: 58%;
    }

    .footer_head {
        font-size: 25px;
    }
    .pets_slider {
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);
        padding: 0;
    }
    .slider_btns {
        margin-top: 25px;
        padding-bottom: 40px;
    }
    .footer_content {
        padding: 0 10px;
    }
}