* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FAFAFA;
}
a:focus {
    text-decoration: none;
    color: #FAFAFA;
}
.wrapper {
    /* background: #F6F6F6; */
    max-width: 1280px;
    margin: 0 auto;
}
.wrap_header {
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 40px;
}
.header_burger {
    display: none;
}
.logo_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.1em;
    color: #F1CDB3;
    margin-bottom: 8px;
}
.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-left: 7px;
}
.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;
}
.navbar_text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    height: 24px;
    margin-left: 35px;
}
.navbar_text_last {
    margin-right: 0px;
}
.navbar_active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
}
.header_img {
    /* width: 50%; */
    overflow: hidden;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}
.section_first {
    display: flex;
    margin: 0 auto;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1200px;
}
.section_first_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 55px;
    padding-top: 148px;
    margin-bottom: 40px;
}
.paragraph_1 {
    max-width: 460px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    margin-bottom: 43px;
}
.section_first_btn {
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px ;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
    margin-bottom: 50px;
}
.section_first_btn:hover {
    background: #FDDCC4;
}

.section_about {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: #FFFFFF;
}
.section_about_img {
    padding-top: 80px;
    padding-right: 120px;
    padding-bottom: 80px;
}
.section_about_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #545454;
    padding-top: 75px;
    margin-bottom: 24px;
}
.section_about_description {
    width: 430px;
}
.section_about_paragraph {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    margin-bottom: 26px;
}
.slider {
    background: #F6F6F6;
    text-align: center;
    /* padding: 0 40px; */
}
.slider_pets {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    justify-content: space-around;
}
.slider_container {
    display: flex;
    width: 900px;
    overflow: hidden;
    gap: 45px;
}
.slider_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #545454;
    padding-top: 80px;
    margin-bottom: 60px;
}
.btn_previous {
    display: flex;
    align-items: center;
    padding: 0 17px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}
.btn_previous:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.btn_next {
    display: flex;
    align-items: center;
    padding: 0 17px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}
.btn_next:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.slider_btn_small {
    display: none;
}
.card {
    width: 270px;
    text-align: center;
    background: #FAFAFA;
    border-radius: 9px;
    transition: 300ms;
}
.card:hover {
    background: white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card:hover .btn_slider{
    background: #FDDCC4;
    transition: 500ms;
}
.pets-card-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.btn_slider {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background: white;
    margin-bottom: 30px;
}
.section_slider_btn {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    margin-bottom: 100px;
    border: none;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.1em;
}
.section_slider_btn:hover {
    background: #FDDCC4;
}
.slider_btn_container_small {
    display: none;
}
/*  section HELP */
.section_help {
    text-align: center;
    background: #FFFFFF;
}
.section_about_help {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #545454;
    padding-top: 60px;
    margin-bottom: 40px;
}
/* .grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    margin-bottom: 85px;
} */
.grid_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
}
.grid_item {
    width: 200px;
    margin: 25px 17px;
}
.pet_food {
    background: url(../../assets/icons/icon-pet-food.svg) no-repeat 50% 0;
}
.transportation {
    background: url(../../assets/icons/icon-transportation.svg) no-repeat 50% 0;
}
.toys {
    background: url(../../assets/icons/icon-toys.svg) no-repeat 50% 0;
}
.bowls {
    background: url(../../assets/icons/icon-bowls-and-cups.svg) no-repeat 50% 0;
}
.shampo {
    background: url(../../assets/icons/icon-shampoos.svg) no-repeat 50% 0;
}
.vitamin {
    background: url(../../assets/icons/icon-vitamins.svg) no-repeat 50% 0;
}
.medicine {
    background: url(../../assets/icons/icon-medicines.svg) no-repeat 50% 0;
}
.collar {
    background: url(../../assets/icons/icon-collars-leashes.svg) no-repeat 50% 0;
}
.sleep {
    background: url(../../assets/icons/icon-sleeping-area.svg) no-repeat 50% 0;
}
.grid_description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding-top: 90px;
    letter-spacing: 0.1em;
    color: #545454;
}

/* section donation */
.section_donation {
    display: flex;
    justify-content:center;
    background: #F6F6F6;
}
.donation_img {
    padding-top: 90px;
    margin-bottom: 110px;
    /* width: 50%; */
}
.donation_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #545454;
    padding-top: 40px;
    margin-bottom: 20px;

}
.bank_account {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    padding-left: 20px;
    letter-spacing: 0.1em;
    color: #545454;
    margin-bottom: 20px;
}
.donation_description {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    max-width: 380px;
    }
.section_donation_btn {
    max-width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
    display: flex;
    line-height: 115%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    margin-left: 15px;
    margin-bottom: 20px;
}
.donation_img_btn {
    padding-left: 15px;
}
.section_donation_btn h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #545454;
    padding: 0 18px;
}
.section_donation_btn:hover {
    background: #FDDCC4;
  }
    /* Footer */
.footer_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 18px;
}
.footer_head {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.footer_paragraph {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #F1CDB3;
    margin-bottom: 40px;
}
.footer_img {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.address_container {
    display: flex;
}
.footer_img {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.footer_adress {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #F1CDB3;
    margin-bottom: 18px;
}
.footer_puppy {
    /* width: 30%; */
    overflow: hidden;
}

@media (max-width: 1100px) {
    .slider_container {
        width: 585px;
    }
}

@media (max-width: 767px) {

    body {
    max-width: 767px;
  }
  .wrapper {
      max-width: 767px;
  }
  header {
    max-width: 707px;
    margin-bottom: 0px;
    padding-top: 15px;
  }
  .logo_title {
      margin-top: 15px;
  }
  .section_first {
    max-width: 707px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .section_first_head {
      padding-top: 35px;
  }
  .section_first_btn {
      margin-bottom: 0;
  }
  .header_img {
    margin-top: 100px;
    margin-left: 140px;
    width: 80%;
  }
  .first_head_btn {
      display: flex;
      justify-content: center;
}

  main {
      max-width: 767x;
  }
  .section_about {
      flex-direction: column;
      max-width: 57%;
      margin: 0 auto;
      align-items: center;
  }
  .section_about_img {
      padding: 0;
      padding-bottom: 100px;
      width: 69%;
      order: 1;
  }
  .section_about_description {
    width: 100%;
    margin-bottom: 53px;
  }
  .section_about_head {
      padding-top: 65px;
  }
  .slider_head {
    padding-top: 60px;
  }
  .slider_container {
      width: 580px;
      gap: 40px;
  }
  .btn_previous {
      margin-left: 20px;
  }
  .btn_next {
      margin-right: 20px;
  }
  .section_about_help {
      padding-top: 60px;
      margin-bottom: 35px;
  }
  .grid_item {
    margin: 23px 17px;
  }
  .section_donation {
      flex-direction: column;
      align-items: center;
  }
  .donation_head {
    padding-top: 52px;
  }
  .bank_account {
      padding: 0px;
  }
  .section_donation_btn {
      margin-left: 0px;
  }
  .donation_img {
      width: 65%;
      padding-top: 50px;
      order: 1;
  }
  .footer_content {
      flex-wrap: wrap;
      padding: 0 65px;
  }
  .footer_puppy {
      margin: 0 auto;
      padding-top: 25px;
  }
}

@media (max-width: 751px) {
    .logo_title {
        font-size: 21px;
        margin-bottom: 0;
    }
    .logo_subtitle {
        font-size: 8px;
        padding-left: 0;
    }
    .navbar_text {
        font-size: 12px;
        margin-left: 10px;
    }
}

@media (max-width: 319px) {
  body {
    max-width: 319px;
  }
  header {
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      /* background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; */

  }
  .wrapper {
    padding-top: 30px;
  }
  .logo_title {
      position: relative;
      z-index: 2;
      margin: 0;
      margin-top: 30px;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 32px;
  }
  .logo_subtitle {
    position: relative;
    z-index: 2;
    font-size: 13px;
    padding-left: 14px;
  }
  .header_burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 22px;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
    height: 2px;
    background-color: #F1CDB3;
    position: absolute;
    width: 100%;
    left: 0;
}
  .header_burger::before {
    top: 0;
    transition: .3s;
}
  .header_burger::after {
    bottom: 0;
    transition: .3s;
}
  .header_burger span {
    height: 2px;
    background-color: #F1CDB3;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    transition: .3s;
}
  .navbar {
    display: none;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    padding-top: 263px;
    width: 100%;
    height: 100%;
    background-color: #292929;
    transition: .3s;
  }
  .navbar li {
      margin-bottom: 64px;
}
  .navbar_text {
      font-size: 32px;
      margin-left: 0px;
}
  .active_burger {
    display: flex;
    top: 0;
    transition: .3s;
}
  .active_burger_burger span {
    transform: rotate(90deg);
    top: 20px;
    left: -9px;
    transition: .3s;
  }
  .active_burger_burger::before {
    transform: rotate(90deg);
    left: -19px;
    top: 20px;
    transition: .3s;
  }
  .active_burger_burger::after {
    transform: rotate(90deg);
    left: 1px;
    top: 20px;
    transition: .3s;
  }
   .lock {
       overflow: hidden;
   }
  .section_first {
      text-align: center;
      padding: 0 10px;
}
  .section_first_head {
      font-size: 25px;
      letter-spacing: 3px;
      padding-top: 99px;
      line-height: 33px;
  }
  .header_img {
      margin: 0;
      margin-top: 110px;
      margin-left: 40px;
      width: 85%;
  }
  .section_about {
      max-width: 100%;
      padding: 0 15px;
      text-align: center;
  }
  .section_about_head {
      margin: 0;
      padding-top: 11px;
      margin-bottom: 20px;
      line-height: 35px;
      font-size: 25px;
  }
  .section_about_description {
      margin-bottom: 0px;
      padding: 0 10px;
  }
  .section_about_paragraph {
      text-align: justify;
  }
  .section_about_img {
      padding-bottom: 25px;
      width: 94%;
  }
  .slider_pets {
      flex-direction: column;
      margin-bottom: 43px;
      align-items: unset;
      overflow: hidden;
  }
  .slider_head {
      padding-top: 35px;
      margin-bottom: 37px;
      line-height: 35px;
      font-size: 25px;
  }
  .btn_previous,
  .btn_next {
      display: none;
  }
  .slider_container {
      margin-left: 25px;
  }
  .slider_btn_container_small {
      display: flex;
      width: 185px;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 20px;
  }
  .btn_previous_small,
  .btn_next_small {
    display: flex;
    align-items: center;
    padding: 0 17px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
  }
  .section_slider_btn {
      margin-bottom: 42px;
  }
  .section_help {
    padding: 0 10px;
  }
  .section_about_help {
      font-size: 25px;
      padding: 42px 0;
      line-height: 32px;
      margin: 0;
  }
  .grid_container {
      justify-content: unset;
      margin-bottom: 25px;
  }
  .grid_item {
      width: 130px;
      margin: 8px 6px;
  }
  .grid_description {
      font-size: 15px;
      padding-top: 65px;
  }
  .section_donation {
    padding: 0 10px;
  }
  .donation_info {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .donation_head {
      font-size: 25px;
      line-height: 35px;
      padding-top: 22px;
      margin-bottom: 9px;
  }
  .bank_account {
    letter-spacing: 0.06em;
  }
  .section_donation_btn h4 {
      font-size: 15px;
      padding-top: 10px;
  }
  .section_donation_btn {
    margin-left: 9px;
  }
  .donation_description {
      text-align: justify;
  }
  .donation_img {
    width: 86%;
    padding-top: 35px;
    margin-bottom: 45px;
  }
  .footer_content {
    padding: 0;
    text-align: center;
  }
  .footer_paragraph {
    padding-left: 25px;
  }
  .footer_head {
      font-size: 25px;
      line-height: 34px;
      margin-top: 0;
      margin-bottom: 35px;
  }
  .footer_puppy {
    padding-top: 45px;
    width: 82%;
  }
}